.text-box-container {
  
  padding-bottom: 30px;
  -webkit-user-select:text;
  user-select:text;
  cursor: text;
  overflow: auto;
  width: 70vw;
  height: 93%;
  background-color: #040d08;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  
}


.text-box {
  display: inline-block;
  width: 1140px;
  height: fit-content;
  padding: 30px;
}


.block-title {
  font-size: 28px;
  font-weight: bold;
}
